:root {
  --mint: #79d7be;
  --dark: #1e3a3a;
  --dark-ligth: #40e0d0;
  --white: #ffffff;
  --colorFondo: #eff7f6;
  --fondo2: #d1f7f3;
  --fuentePrincipal: "Plus Jakarta Sans", sans-serif;
  --funteSecundaria: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--fuentePrincipal);
  font-weight: 500;
  margin: 0;
  background-color: var(--colorFondo);
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.seccion {
  margin-bottom: 5rem;
}
.contenedor {
  width: 99%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 5rem;
  box-shadow: 0px 0px 8px 1px #888888;
  position: relative;
}

.logo {
  color: var(--dark);
  font-weight: 900;
  font-size: 2.3rem;
  margin: 0;
}

.logo span {
  font-family: var(--funteSecundaria);
  font-weight: 500;
}

.redes {
  display: flex;
  gap: 2rem;
}

.redes i {
  font-size: 2.8rem;
}

.fa-whatsapp {
  color: #25d366;
}
.fa-instagram {
  color: #e1306c;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--dark);
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color: var(--colorFondo);
}

.nav-links a {
  color: var(--dark);
}

.btn-nav {
  background-color: var(--dark-ligth);
  color: var(--white) !important;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }

  .menu-toggle {
    display: block;
  }

  .redes {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 2rem 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2rem;
  }

  .nav-links.active {
    display: flex;
  }
}
.hero-header {
  overflow: hidden;
  position: relative;
  background: linear-gradient(135deg, var(--mint) 0%, #f0f9f7 100%);
  display: flex;
  align-items: center;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .hero-header {
    min-height: 55rem;
  }
}
.hero-heading {
  position: relative;
  z-index: 3;
  color: var(--white);
  font-size: 3.6rem;
  padding: 3rem;
}

.hero-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}

.hero-texto {
  height: 100%;
  font-size: 2.2rem;
  color: #555;
  margin-bottom: 3rem;
  display: flex;
  align-items: end;
  margin: 0;
}

.hero-iconos {
  display: flex;
  gap: 2rem;
}
.hero-imagen {
  display: none;
}
@media (min-width: 1024px) {
  .hero-imagen {
    background: url("doctora_dentisa.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 10;
    display: block;
  }
}

.hero-iconos span {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark);
}

.hero-iconos i {
  color: var(--mint);
  margin-right: 0.5rem;
}
.circulo-1 {
  position: absolute;
  background: linear-gradient(80deg, #d1e7e4b0, var(--mint));
  width: 15rem;
  height: 15rem;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}
@media (min-width: 768px) {
  .circulo-1 {
    top: 5rem;
    left: 5rem;
  }
}
.circulo-2 {
  position: absolute;
  background: linear-gradient(80deg, #d1e7e4b0, var(--mint));
  width: 10rem;
  height: 10rem;
  top: 5rem;
  left: 29rem;

  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}
@media (min-width: 768px) {
  .circulo-2 {
    top: 10rem;
    left: 70rem;
  }
}
.circulo-4 {
  position: absolute;
  background: linear-gradient(100deg, #d1e7e4b0, var(--mint));
  width: 10rem;
  height: 10rem;
  top: 30rem;
  left: 15rem;
  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}
.circulo-5 {
  position: absolute;
  background: linear-gradient(30deg, #d1e7e4b0, var(--mint));
  width: 2rem;
  height: 2rem;
  top: 30rem;
  left: 15rem;
  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}

.circulo-5 {
  position: absolute;
  background: linear-gradient(10deg, #d1e7e4b0, var(--mint));
  width: 5rem;
  height: 5rem;
  top: 6rem;
  left: 40rem;
  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}
.circulo-3 {
  position: absolute;
  background: linear-gradient(100deg, #d1e7e4b0, var(--mint));
  width: 10rem;
  height: 10rem;
  top: 30rem;
  left: 15rem;
  border-radius: 50%;
  box-shadow: 6px 2px 2px 1px #79d7bebb;
}
@media (min-width: 768px) {
  .circulo-3 {
    top: 20rem;
    left: 50rem;
  }
}

.heading-formulario {
  color: var(--dark);
}

.form-card {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12px);

  padding: 4rem;
  border-radius: 2rem;

  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  color: #fff;
}

/* Ajuste de los campos para que sigan la estética */
.campo input,
.campo select {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
}
.form-card h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.campo {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.campo label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--dark);
}

.campo input,
.campo select {
  padding: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}

.btn-submit {
  width: 100%;
  background-color: var(--mint);
  color: var(--dark);
  padding: 1.5rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: var(--dark);
  color: var(--white);
}

/* Responsive para el Hero */
@media (max-width: 992px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-texto h1 {
    font-size: 4rem;
  }

  .hero-iconos {
    justify-content: center;
  }

  .form-card {
    max-width: 500px;
    margin: 0 auto;
  }
}

.main {
  height: auto;
}
@media (min-width: 768px) {
  .main {
    height: 50rem;
  }
}
.sobre-de {
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .sobre-de {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    height: 100%;
  }
}
.consultorio-descripcion {
  height: 100%;
}
@media (min-width: 768px) {
  .consultorio-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.imagen-consulorio {
  background: url("consultoriio.jpg");
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}
.descripcion {
  padding: 1rem;
}

.tratamiento-principal {
  background-color: var(--mint);
  color: var(--colorFondo);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.descripcion-tratamientos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--dark);
}

@media (min-width: 768px) {
  .descripcion-tratamientos {
    flex-direction: row;
  }
}

.tratamiento {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: var(--dark);
  text-align: center;
}
.numero {
  font-size: 2.4rem;
}
.tratamiento p {
  font-size: 2rem;
}

.servicios {
  background: linear-gradient(-180deg, #79d7beb7 10%, #79d7beb0 40%);
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: 5rem auto;
}

.servicios::-webkit-scrollbar {
  display: none;
}

.servicio {
  flex: 0 0 80%;
  scroll-snap-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 1024px) {
  .servicios {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    overflow: visible;
  }

  .servicio {
    flex: none;
    width: auto;
    scroll-snap-align: none;
    transition: transform 0.3s ease;
  }

  .servicio:hover {
    transform: translateY(-5px);
    background: var(--dark);
    h3 {
      color: var(--white);
    }
    p {
      color: var(--white);
    }
  }
}
.imagen-servicio {
  width: 7rem;
}

.servicio h3 {
  color: var(--dark);
}
.imagen-limpieza {
  width: 7rem;
}
.ubicacion {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.ubicacion-header {
  text-align: center;
  margin-bottom: 4rem;
}

.ubicacion-header h2 {
  font-size: 3.2rem;
  color: var(--dark);
}

.mapa-grid {
  display: grid;
  gap: 3rem;
}

@media (min-width: 992px) {
  .mapa-grid {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.mapa-container {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 5px solid var(--white);
}

.info-contacto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-card {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  background: var(--white);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  height: 14rem;
}

.info-card:hover {
  transform: translateY(-5px);
  border-left: 4px solid var(--mint);
  box-shadow: 0 px 20px rgba(0, 0, 0, 0.1);
}

.info-card i {
  font-size: 2.4rem;
  color: var(--mint);
  margin-top: 0.5rem;
}

.info-card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.8rem;
  color: var(--dark);
}

.info-card p {
  margin: 0;
  color: #666;
  font-size: 1.5rem;
}
.equipo {
  margin: 5rem auto;
}
.header-seccion {
  text-align: center;
  margin-bottom: 3rem;
}
.header-seccion h2 {
  color: var(--dark);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.equipo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.doctor-card {
  background: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.foto-doctor {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ddd; /* Color base si no hay foto */
  background-size: cover;
  background-position: center;
  margin: 0 auto 1.5rem auto;
  border: 4px solid var(--mint);
}

.doctor-card h3 {
  margin: 0;
  color: var(--dark);
  font-size: 2rem;
}
.especialidad {
  color: var(--mint);
  font-weight: 700;
  font-size: 1.4rem;
}
.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.pregunta {
  background: var(--white);
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.pregunta summary {
  font-weight: 700;
  color: var(--dark);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Animación para que el texto no aparezca de golpe */
.pregunta p {
  animation: aparecer 0.4s ease-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.pregunta summary::after {
  content: "+";
  font-size: 2rem;
  color: var(--mint);
}

.pregunta[open] summary::after {
  content: "-";
}

.pregunta p {
  margin-top: 1rem;
  color: #666;
  font-size: 1.6rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}
.footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 5rem 0 2rem 0;
  margin-top: 5rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  margin-bottom: 3rem;
}

.footer .logo {
  color: var(--white);
}
.footer .logo span {
  color: var(--mint);
}
.footer-logo {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-links h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--mint);
  text-align: center;
}
.footer-links ul li {
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-links ul li {
    text-align: left;
  }
}
.footer-links a {
  color: #ccc;
  font-size: 1.6rem;
  font-weight: 400;
  transition: color 0.3s;
}
@media (min-width: 768px) {
  .footer-links h4 {
    text-align: left;
  }
}
.footer-links a:hover {
  color: var(--mint);
}

.footer-legal {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #888;
}
/* Estilos para el botón de WhatsApp flotante */
.btn-float-ws {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 50rem;
  right: 3rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-float-ws:hover {
  transform: scale(1.1);
  background-color: #128c7e;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  .btn-float-ws {
    width: 5.5rem;
    height: 5.5rem;
    bottom: 50rem;
    right: 2rem;
    font-size: 3rem;
  }
}
.alerta {
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--white);
  text-align: center;
  font-weight: 700;
  animation: flujoTexto 4s ease-in-out infinite;
  overflow: hidden;
}
.bg-red {
  border: 1px solid #d64c4c;
  border-left: #d64c4c 1rem solid;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #d64c4c;
}
.bg-green {
  border: 1px solid var(--dark);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-left: var(--dark) 1rem solid;
  color: var(--dark);
}

@keyframes flujoTexto {
  0% {
    transform: translateX(100%);
    filter: blur(5px);
  }
  15% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
  85% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    filter: blur(5px);
  }
}
.loader {
  color: var(--dark);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.sniper {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hidden {
  display: none;
}

.flex {
  display: flex;
}
